	font-family:'Calibri';
}
body{
	background-image: url(../img/bg_html.jpg);
}
.sheader{
	background-color: #292929 ;
}
.colorbox1{
	float:left;
	background-color:#CE0160 ;
	width: 50px;
	height: 5px;
}
.colorbox2{
	float:left;
	background-color:#A0CC05 ;
	width: 50px;
	height: 5px;
}
.colorbox3{
	float:left;
	background-color:#0192C1 ;
	width: 50px;
	height: 5px;
}
.clear{
	clear:both;
}
.header{
	margin:35px auto;
	width: 950px;
	height: 81px;
}
.logo{
	float: left;
}
.icon{
	float:right;
	width: 60px;
	height: 25px;
}
.icon img{
	float: right;
	margin-right: 5px;
}
.labor{
	float: right;
	height: 90px;
	width: 779px;
}
.labor li a{
	float:right;
	list-style:none;
	margin: 35px 20px;
	color:#292929;
	font-size: 100%;
	text-decoration:none;
}
.labor li a:hover{
	color:#24AACC;
	text-decoration:none;
}
.area1{
	margin:0 auto;
	width: 950px;
}
.banner{
	float: left;
}
.text{
	float: left;
	background-color: #292929;
	width: 310px;
	height: 415px;
}
.text h2{
	color:#24AACC;
	font-size: 40px;
	margin:40px 50px;
}
.text p{
	color: #ABABAB;
	font-size: 100%;
	margin:0px 50px;
	line-height: 30px;
}
.text a{
	text-decoration:none;
}
.text a:hover{
	text-decoration:none;
}
.button{
	text-decoration:none;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #3F3F3F;
	margin: 30px 50px;
	height: 30px;
	width: 130px;
	padding: 15px 0px 0px 0px;
	text-align: center;
}
.area2{
	width: 860px;
	margin: 35px auto;
	line-height: 30px;
	padding: 35px 45px;
	background-color: #FFFFFF;
}
span{
	color:#24AACC;
}
.area3{
	width: 860px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 40px 45px;
}
.area3 h3{
	float: left;
	font-size: 32px;
}
.area3 .sarea1{
	width: 600px;
	float: left;
}
.news{
	margin: 20px 0px;
	float: left;
	width: 600px;
}
.news img{
	float: left;
	border: 5px #F4F4F4 solid;
}
.news h4{
	margin: 0px 0px 10px 30px;
	float: left;
	width: 340px;
	font-weight: bold;
}
.news p{
	margin: 0px 30px;
	float: left;
	width: 340px;
	line-height: 30px;
}
.sarea2{
	width: 260px;
	float: left;
}
.note{
	margin: 20px 0px;
	float: left;
	line-height: 30px;
}
.note img{
	margin: 0px 5px;
}
.place{
	margin: 10px 0px;
	padding: 10px;
	color: #CFCFCF;
	border: 1px #CFCFCF solid;
}
.search{
	border: none;
	height: 45px;
	width: 100px;
	color: #24AACC;
	background-color:#CFCFCF;
}
.footer{
	text-align: center;
	width: 950px;
	margin: 40px auto 50px auto;
	line-height: 30px;
}